<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

        <% if enhanced_cart != [] %> 
          <%= render 'notempty' %>
        <% elsif enhanced_cart == [] %>
            <div class="alert alert-primary" role="alert">
           <h5> Empty Shopping Cart :( </h5>
              <p><%= link_to "Why not check out our amazing products :)", products_path %></p> 
            </div>
        <% end %>

</section>
