<section class="admin-categories-index">
<h1>Admin &raquo; All Categories</h1>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>


</section>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Products</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>

 <%= render @categories %>


  </tbody>
</table>


