<section class="admin-categories-index">
<h1>Admin &raquo; All Categories</h1>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>


</section>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Products</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <% category_prod = [] %>
      <% @prod.each do |prod| %>
        <% if prod.category_id == category.id %>
             <% category_prod << prod.name  %>
          <% end %>
      <% end %>
        <% category_prod.each do |name| %>
          <li> <%= name %></li>
          <%end%>
        </td>
        <td>
          <%= category.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
